<h1>Login</h1>

{{#if error}}
  <h1>{{message}}</h1>
{{/if}}
<form action="" method="POST">
  <input type="text" placeholder="Username" name="name" />
  <input type="password" name="password" />
  <button type="submit">Login</button>
</form>