<h1>Sign up</h1>

{{#if isError}}
  <h1>{{message}}</h1>
{{/if}}
<form action="" method="POST">
  <input type="text" placeholder="Username" name="name" />
  <input type="email" placeholder="example@example.com" name="email" />
  <input type="password" name="password" />
  <button type="submit">Sign up</button>
</form>