<h1>Add new Post</h1>
<form action="" method="POST">
  <input type="text" placeholder="Title" name="title" />
  <textarea placeholder="Content" name="content"></textarea>
  <input type="text" placeholder="Author" name="author" />
  <input type="date" placeholder="date" name="date" />
  <button type="submit">Add</button>
</form>